/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: var(--redpink);
  --bgcolor: var(--blueblack);
  --title-accent-color: var(--purple);
  --nav-accent-color: var(--redpink);
  --text-color: var(--lightpink);
  --cover: url("../images/cover-image-dark.png");
  --title-decor-color: var(--blueblack)
}