:root {
  --dark-cover: url("../images/cover-image-dark.png");
}
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.linker:link,
.linker:visited {
  color: inherit;
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
  text-decoration: none;
}

.page {
  margin: 0;
  color: var(--text-color);
  font-size: 18px;
  padding: 0;
  min-height: 100%;
  min-width: 375px;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
  background-image: var(--cover);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bgcolor);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  height: 100vh;
  min-height: 668px;
  min-width: inherit;
  display: grid;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.rec {
  font-weight: 400;
  color: var(--accent-color);
  justify-self: end;
  margin-right: 9px;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow:
    0 0 8px var(--accent-color),
    0 0 16px var(--accent-color),
    0 0 24px var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  margin-top: 39px;
}

.header__theme-menu-list {
  font-family: "IBM Plex Mono", monospace;
  list-style: none;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header__theme-menu-button {
  font-size: 18px;
}

.header__theme-menu-item {
  justify-content: space-between;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: inherit;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  text-transform: lowercase;
  color: var(--nav-accent-color);
  letter-spacing: 1px;
}

.header__theme-menu-button_active {
  padding: 1.5px 13px;
  border: 1px solid var(--nav-accent-color);
  pointer-events: none;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-weight: 700;
  line-height: 23.4px;
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: clamp(4.5rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-accent-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header__title {
  margin-top: 65px;
}

.corners::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-top: 1px solid var(--nav-accent-color);
  border-right: 1px solid var(--nav-accent-color);
}

.corners::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 28px;
  height: 28px;
  border-bottom: 1px solid var(--nav-accent-color);
  border-left: 1px solid var(--nav-accent-color);
}

.header__text {
  background-color: var(--accent-color);
  color: #000028;
  font-weight: 700;
  line-height: 23.4px;
  width: 355px;
  margin-bottom: 66px;
  position: relative;
  margin-top: 55px;
}

.why {
  background-color: var(--bgcolor);
  width: 100vw;
  min-width: 375px;
  box-sizing: border-box;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-top: 0;
}

.why__list {
  max-width: inherit;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  list-style: none;
  align-items: start;
}

.why__list-article {
  color: var(--nav-accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
}

.why__list-bullet-text {
  font-weight: 400;
  margin: 0;
}

.why__list-bullet-point {
  margin: 0 0 10px 0;
}

.spezial {
  display: inline-block;
}

.title-decor-sub {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  line-height: 23.4px;
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
}

.pictures {
  width: 100vw;

  min-height: 100vh;
  min-height: 668px;
  padding: 40px 10px;
  box-sizing: border-box;
  background-color: var(--bgcolor);
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.pictures_images {
  max-width: 100%;
  height: auto;
  display: block;
}

.images__container {
  display: grid;
  gap: 10px;
}

.pictures__title {
  margin-bottom: 10px;
}

.footer {
  height: 100vh;
  min-height: 668px;
  min-width: inherit;
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  background-color: var(--bgcolor);
}

.point {
  margin-top: 20px;
  margin-left: 0;
  list-style: none;
  padding: 0;
}

.why__list__nogrid {
  padding: 0;
}

.box {
  border: 1px solid greenyellow;
}

@media (min-width: 768px) {
  .page {
    overflow-x: hidden;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .rec {
    grid-column: 2;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / 3;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__text {
    width: 364px;
    grid-column: 2;
  }

  .why {
    padding: 80px 20px 0 20px;
  }

  .why__list {
    display: grid;
    grid-template-columns: 236px auto;
    gap: 20px;
  }

  .why__list-article {
    grid-column: 1;
  }

  .point {
    grid-column: 2;
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  .why__list-bullet-point {
    margin: 0 0 10px 0;
    padding: 0;
    min-height: auto;
    height: auto;
  }

  .why__list-bullet-text {
    margin-bottom: 10px;
  }

  .why__list-bullet-text:last-child {
    margin-bottom: 0px;
  }

  .why__list__nogrid {
    padding-left: 0;
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    margin: 0;
  }

  .very {
    grid-column: 1;
  }

  .point__very {
    grid-column: 1 / 3;
  }

  .pictures {
    padding: 80px 20px 60px 20px;
  }

  .images__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .images__container img {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    object-fit: cover;
    display: block;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 768px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .header__title {
    grid-column: 1/3;
    margin-top: 273px;
  }

  .header__text {
    grid-column: 2;
    width: auto;
    margin-top: 114px;
  }

  .corners::before {
    top: 20px;
    right: 20px;
  }

  .corners::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1;
    justify-self: center;
    align-items: start;
    margin-top: 0;

  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .rec {
    grid-row: 1;

  }

  .why__list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .why__list-article {
    grid-column: 1;
  }


  .why__list__nogrid {
    display: grid;
  }

  .why__list-bullet-point {
    grid-column: 1 / 4;
    grid-template-rows: auto
  }

  .point {
    grid-column: 2 / 4;
  };
  
 .why__list__nogrid {
    display: grid;
    grid-template-columns: 315px 1fr 1fr;
    gap: 20px;
  }

  .concentration {
    grid-column: 1;
  }

  .food {
    grid-column: 2;
  }

  .device {
    grid-column: 3;
  }


  .pictures__images {
    grid-template-columns: 1fr 315px 1fr;
    grid-template-rows: 260px 315px 1fr;
  }

}